:root {
  --dark: rgb(25, 25, 27);
  --light-dark: rgba(37, 38, 44, 0.452);
  --white: #ffffff;
  --light: #f3f3f3;
  --box-shad: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border-radius: 4px;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: var(--dark);
}

body {
  width: 300px;
  margin: 0;
  background: linear-gradient(0deg,rgba(17,14,31,.35),rgb(17 14 31 / 0%)),linear-gradient(330deg,#161715b8 -10%,#2f332fa8 46.3%,#191818db 110%);
  color: var(--white);
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  border-radius: 0;  
  border-bottom: 1px solid var(--light-dark);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.container, header {padding:10px;}

h3 {text-align: center;  margin: 0; }

small {font-size: 8px;}

button,
a {
  background: var(--light-dark);
  color: var(--white);
  border: 0;
  font-size: 12px;
  letter-spacing: 1px;

  padding: 7px;
  cursor: pointer;
  transition: all .25s;
  text-align: center;
  text-decoration: none;
  letter-spacing:2px;
}

button img { width: 20px;  height: 20px;}

button:hover,
a:hover {
  background-color: var(--dark);
}

button,
svg {
  display: inline-block;
  vertical-align: middle;
}

textarea,
select {
  background-color: var(--light);
  color: var(--dark);
  width: 100%;
  font-size: 14px;
  padding: 7px;
  border: 0;
}

textarea,
select,
button {
  box-shadow: var(--box-shad);
}

textarea { resize: vertical;}
/*******************************/
.di-flex {
  display: flex;
  justify-content: space-between;
}

.di-flex-col {display:flex; flex-direction: column;}
.justify-center {  justify-content: center;}
.align-center { align-items: center;}

.col-3>* {  width: 31%;  max-width: 31%;}

.wi-100 {
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.disabled {
  background-color: var(--light-dark);
}